@media print {
  .product-comparison-card {
    page-break-inside: avoid;
    height: 25vh;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
